.page_onboarding {
    --background: var(--ion-color-primary);
}

ion-slides {
    height: 100%;
    --bullet-background-active: var(--ion-color-primary-contrast);
}

ion-slide {
    flex-direction: column;
    height: 100%;
    width: 100vw !important;

    h1 {
        margin-left: 1em;
        margin-right: 1em;
    }

    @media screen and (orientation:landscape) {
        h1 {
            margin-top: 0;
        }
    }
}

img {

    &.logo {
        height: 40vw;
        padding-bottom: 5%;
    }

    &.icon {
        height: 40vw;
    }
    &.decentral{
        height: 40vw;
        margin-bottom: 1em;
    }
    &.lock{
        height: 40vw;
    }

    @media screen and (orientation:landscape) {
        &.logo {
            height: 40vh;
        }

        &.icon {
            height: 40vh;
        }
        &.decentral{
            height: 40vh;
            padding-top: 10px;
        }
        &.lock{
            height: 38vh;
        }
    }
}


.step-one {
    background: var(--custom-background, var(--ion-color-primary));
    color: var(--ion-color-primary-contrast);


    ion-list {
        ion-item {
            --color: var(--ion-color-primary-contrast);
            --background: transparent;
            font-size: 2vh;

            @media screen and (orientation:landscape) {
                font-size: 2vw;
            }
        }
        background: rgba(255,255,255,0);
        color: var(--ion-color-primary-contrast);

        @media screen and (max-width: 576px) {
            width: 100%;
        }

        @media screen and (orientation:landscape) and (max-height: 576px) {
            margin-bottom: 0;
        }
    }

    ion-avatar {
        --border-radius: 0;
    }

    .onboarding-key {
        margin: 0.2em;
    }
}

.step-two {
    background: var(--custom-background, var(--ion-color-primary));
    color: var(--ion-color-primary-contrast);
    font-size: 2vh;
    @media screen and (orientation:landscape) {
        font-size: 2vw;
    }
    .concept2 {
        display: none;
    }
}

.step-three {
    background: var(--custom-background, var(--ion-color-primary));
    color: var(--ion-color-primary-contrast);
    font-size: 2vh;
    @media screen and (orientation:landscape) {
        font-size: 2vw;
    }
}

.link {
    color: var(--ion-color-primary-contrast);
}
