// Global CSS
// --------------------------------------------------
// Put CSS rules here that you want to apply globally
//
// NOTE: @import "coloring"; is called before this file is imported

@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap');
@import "icons";

ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
    }
  
    &[class*="custom-info"] {
      mask-image: url(../assets/icon/info.svg);
    }
    &[class*="custom-qrcode"] {
      mask-image: url(../assets/qrcode.svg);
    }
    &[class*="custom-spades"] {
      mask-image: url(../assets/spades.svg);
    }
  
  }

.content, .ion-header, ion-navbar {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
}

.ilias-object-list {
    ion-item {
        min-height: 7rem;
    }
    &.list-md > .item-block:first-child {
        border: none;
    }
    &.list-md > .item-block:last-child {
        border: none;
    }
    &.list-ios > .item-block:first-child {
        border: none;
    }
    &.list-ios > .item-block:last-child {
        border: none;
    }
}

.object-flags {
    padding-top: 5px;
}

.ilias-list-action-button {
    min-width: 35px;
    min-height: 35px;
    ion-icon {
        font-size: 2.4rem;
    }
}

ion-spinner.centered {
    display: block;
    margin: auto;
}
.card-md div.centered {
    text-align: center;
}

.small-date {
    font-size: small;
    padding-left: 5px;
}

.modal-fullscreen {
    .modal-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
}

.ios .modal-fullscreen {
    .modal-wrapper {
        // top: 26px;
    }
}

#menu-logo {
    right: -28%;
    top: 75%;
    width: 80%;
    position: absolute;
}
