// CSS for pages
// --------------------------------------------------
//
// NOTE: @import "coloring"; is called before this file is imported
// If possible, create only one class per page, using the following convention:
//
//
// // [PATH_TO_PAGE]
// // --------------------------------------------------
// .page_[UNIQUE_PAGENAME] { ... }
//
//
// If multiple classes are needed, use the following convention:
//
//
// // [PATH_TO_PAGE]
// // --------------------------------------------------
// .page_[UNIQUE_PAGENAME]_[NAME1] { ... }
// .page_[UNIQUE_PAGENAME]_[NAME2] { ... }
// ...
//

// pages/news
// --------------------------------------------------
.page_news {
     //font-sizes
     ion-card-title{
        font-size: 1.2rem;

    }

    ion-card-header{
        padding-bottom: 0px !important;
    }
}


// pages/favorites
// --------------------------------------------------
.page_favorites {}

// pages/object-details
// --------------------------------------------------
.page_object_details {}


// pages/desktop
// --------------------------------------------------

.page_desktop {
    --background: url('src/assets/img/header.svg') no-repeat top center / 100vw;
    .desktop-grid{
        padding-top: 24px;
    }

    .tile-image {
        height: auto;
        width: 60%;
        margin: auto;
        display: block;
        pointer-events: none;
    }


    .tile {
    opacity: 0.9;
    border-radius: 2%;
    }

}

// pages/menu
// --------------------------------------------------


.page_menu {
    height: 100%;
   .menu-bottom-image{
       position: absolute;
       bottom: 0;
   }

    ion-list{
        padding-top: 0;
        padding-bottom: 0;
    }

    .privacy-iq{
        display: none
    }
    .privacy-zwh{
        display: none
    }

    .privacy-mfkjusb{
        display: none
    }

}

// pages/settings
// --------------------------------------------------
ion-content.page_settings {

    .list > .item-block:first-child {
        border: none;
    }

    .general {
        padding-top: 5px;
    }

    .item-toggle {
        color: #999;
    }

    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom: 1px solid #dedede;
        box-shadow: none;
    }

    ion-label.activeUser {
        font-weight: bold;
    }

}

// pages/info
// --------------------------------------------------
.page_info {

    ion-card {
        margin: 20px 0;
        width: 100%;
    }

    .reporting-card-iq{
        display: none
    }
    .version-card-iq{
        display: none
    }

}

// pages/login
// --------------------------------------------------
.page_login {
    background-color: var(--ion-color-dark);
    line-height: 1.8em;

    #version-if-footer {
        font-size: 1em;
        opacity: 0.2;
    }

    .huge-login-header {
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
        font-weight: 800;
        font-size: 3.0vh;
        color: white;
    }

    .login-top-logo-row{
        height: 30vh;
    }

    .login-welcome-row{
        height: 10vh;
    }

    .login-version-row{
        height: 30vh;
    }

    .login-bottom-image{
        display: none;
    }

    .styled-bottom-row{
        background-image: url('./assets/img/header.svg');
        background-size: 100vw ;
        background-repeat: no-repeat;
        height: 30vh;
        display: none;
    }
    .login-top-image{
        // display: none;

    }

    // a, img {
    //     align-self: flex-end;
    //     position: absolute;
    //     bottom: 3%;
    // }

    // .vertical-align-content > * {
    //     display: flex!important;
    //     align-content: center!important;
    //     align-items: center!important;
    // }

    // .vertical-align-content a, .vertical-align-content img {
    //     align-self: flex-end;
    //     position: absolute;
    //     vertical-align: center;
    // }

}

// pages/object-list
// --------------------------------------------------

.object-presenter-icon{
    height:3rem;
}

.page_object_list {


}

// learnplace_map
// --------------------------------------------------
.page_learnplace_map {

    ion-app._gmaps_cdv_ .nav-decor {
        background-color: transparent !important;
    }

    map {
        #map {
            height: 101%;
            width: 100%;
            position: absolute !important;
            top: 0 !important;
            left: 0 !important;
            right: 0 !important;
            z-index: 0;
        }
    }

}

// learnplace_content
// --------------------------------------------------
.page_learnplace_content {

    ion-content {
        h1 {
            text-align: left;
        }

        h2 {
            text-align: left;
            padding-top: .67em;
        }

        p {
            font-size: 1.8em;
            padding-top: .25em;
            text-align: left;
        }
    }

}

// learnplace_accordion
// --------------------------------------------------
.page_learnplace_accordion {

    accordion-block {
        // remove the margin of ion-card inside the accordion
        ion-card.accordion ion-card {
            margin-left: 0 !important;
            margin-right: 0 !important;
            width: 100% !important;
        }
    }

}

// pages/onboarding
// --------------------------------------------------
.page_onboarding {

    ion-slide {
        height: 100vh;
        flex-direction: column;
    }

    img {
        // max-width: 50vw;
        max-height: 20vh;
        overflow: hidden;
    }


    .step-one {
        background: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);
        font-size: 2vh;

    }

    .step-two {
        background: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);
        font-size: 2vh;
    }

    .step-three {
        background: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);
        font-size: 2vh;
    }

    .link {
        color: white;
    }

}

// app/fallback/open-browser/leave-app.dialog.scss
// --------------------------------------------------
.page_leave_app_dialog {

    #webr-icon {
        height: auto !important;
        width: 20vh !important;
        margin: auto !important;
        display: block !important;
    }

    h1 {
        color: white;
    }

    a {
        color: white;
    }

    // .fallback-icon{
    //     height: 20vw;
    // }

}

// app/fallback/location/location-fallbackscreen.scss
// --------------------------------------------------
.page_location_fallbackscreen {

    #marker-icon {
        padding-top: 25%;
        height: auto !important;
        width: 20vh !important;
        margin: auto !important;
        display: block !important;

    }

    #middle-button {
        top: 10%;
        // height: auto !important;
        // width: 20vh !important;
        margin: auto !important;
        display: block !important;

    }

}

// app/fallback/loading/loading.scss
// --------------------------------------------------
.page_loading {
    @extend .primary-gradient;

    #marker-icon {
        padding-top: 25%;
        height: auto !important;
        width: 20vh !important;
        margin: auto !important;
        display: block !important;

    }

    #middle-button {
        top: 10%;
        margin: auto !important;
        display: block !important;
    }

    .big-spinner {
        stroke: #FFFFFF;
        fill: #FFFFFF;
    }

    .loading-subtitle {
        color: white;
    }

}

// app/fallback/synchronization/synchronization.scss
// --------------------------------------------------
.page_synchronization {
    @extend .primary-gradient;
    line-height: 1.8em;
    text-align: center;

    #sync-logo {
        margin-left: 20%;
        margin-right: 20%;
        max-height: 40%;
    }

    #version-if-footer {
        font-size: 1em;
        opacity: 0.2;
    }

    h1 {
        color: white;
    }

    ion-label {
        color: white;
    }

    ion-spinner svg * {
        stroke: white !important;
    }

}


