// CSS for Ionic Variables and Theming
// --------------------------------------------------
// For more info, please see:
// http://ionicframework.com/docs/v2/theming/
//
// NOTE: @import "coloring"; is called before this file is imported
// NOTE: @import "ionic.globals"; is called before this file is imported in 'theme/variables.scss'
// NOTE: @import "ionic.ionicons"; is called after this file has been imported in 'theme/variables.scss'

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000000;
$background-color:  #FFFFFF;
// $tabs-ios-tab-icon-color-active: map_get($colors, primary);
// $tabs-ios-tab-icon-color: #a9a9a9;
$tabs-tab-color-active: map_get($colors, primary) !important;
$tabs-ios-tab-icon-color: #a9a9a9 !important;
$tabs-ios-tab-text-color-active: map_get($colors, primary) !important;
$tabs-ios-tab-color-inactive: #a9a9a9 !important;
$tabs-md-tab-color-inactive:  rgba(169,169,169, 1);
$tabs-wp-tab-color-inactive: rgba(0, 0, 0, .1);
$tabs-ios-border: 0.5px solid #a9a9a9 !important;
$tabs-ios-tab-icon-size: 35px !important;


$refresher-text-font-size: 1em;

@keyframes bounce {

    from, 10%, 26%, 40%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0,0,0);
    }

    20%, 21% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -30px, 0);
    }

    35% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
    }

    45% {
        transform: translate3d(0,-4px,0);
    }
    50% {
        animation-timing-function: cubic-bezier(0, 0, 0, 1.000);
        transform: translate3d(0,0,0);
    }

}

.bounce {
    animation-name: bounce;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transform-origin: center bottom;
}

.date-note {
    font-size: 0.7em;
    align-self: flex-start;
    margin-top: 14px;
}

.info-text {
    font-size: 0.7em;
    white-space: pre-line;
}

.news-title {
    width:100%;
    white-space: pre-line;
}


.tabs .tabbar {
    // border-radius: 20px 20px 0 0;
    // box-shadow: inset 0 0 10px #969696;

    background-color: #000000 !important;
    // opacity: 0.95;
    // backdrop-filter: blur(5px);
        // color:white;
    // border: none
}

.tabs-md-primary .tabbar {
    // border-radius: 40px 40px 0 0;
    box-shadow:  inset 0 0 10px #000000;
    // border: none
}


.main-header{
    color: transparent !important;
    font-weight: bold;
    font-size: 3.75vmax;
    
    // width: 60%;
    // padding-left: 20%;
    // padding-right: 20%;
    margin: auto;
    position: relative;
    padding-bottom: 1vh;
    padding-top: 3vh;
    z-index: -9999 !important;  
  }

  .desktop-content{
    background-image: linear-gradient(to top left, $gradient-col1, $gradient-col2);
    // background-image: url('../img/header.svg');
    // background-color: map_get($colors, primary);
    background-size: 100% 25% ;
    background-repeat: no-repeat;
}

.learnplace-tabs{

    $tabs-ios-tab-icon-color-active: map_get($colors, primary);
    $tabs-ios-tab-icon-color: #942a2a;
    
}
