

    #marker-icon{
      padding-top: 25%;
      height: auto !important;
      width: 20vh !important;
      margin: auto !important;
      display: block !important;

    }

    #middle-button{
      top: 10%;
      // height: auto !important;
      // width: 20vh !important;
      margin: auto !important;
      display: block !important;

    }

  .big-spinner {
  // width: 400px;
  // height: 400px;
  stroke: #FFFFFF;
  fill: #FFFFFF;
}
