//MARK: Animation

@keyframes bounce {

    from, 10%, 26%, 40%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0,0,0);
    }

    20%, 21% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -30px, 0);
    }

    35% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
    }

    45% {
        transform: translate3d(0,-4px,0);
    }
    50% {
        animation-timing-function: cubic-bezier(0, 0, 0, 1.000);
        transform: translate3d(0,0,0);
    }

}

.bounce {
    animation-name: bounce;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transform-origin: center bottom;
}

// MARK: Custom Fonts

.news-title {
    width:100%;
    white-space: pre-line;
}
.main-header{
    color: white !important;
    font-weight: bold;
    font-size: 3.75vmax;
    margin: auto;
    position: relative;
    padding-bottom: 1vh;
    padding-top: 3vh;
    z-index: -9999 !important;  
}

.very-small-font{
    font-size: 0.5em;
    text-align: center;
}



