.login {


  background-image: linear-gradient(to top left, #4a668b, #003c66);
  color:white;
  line-height: 1.8em;
  text-align: center;

  #pony{
    margin-left: 20%;
    margin-right:20%;

  }





}
