.login {


  background-image: linear-gradient(to top left, #4a668b, #003c66);
  color:white;
  line-height: 1.8em;
  text-align: center;

  #pony{
    margin-left: 20%;
    margin-right:20%;
    max-height: 40%;

  }
  
#version-if-footer{
  font-size: 1em;
  opacity: 0.2;
  // width: 30%;
  // left:35%;
  // right:35%;

}



}
