<ion-header id="header-object-list" >
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
            <ion-title>{{ pageTitle }}</ion-title>
        <ion-buttons slot="end" *ngIf="parent !== undefined">
            <ion-button *ngIf="!parent.isFavorite" (click)="executeSetFavoriteValueAction(parent, true);$event.stopPropagation();">
                    <ion-icon slot="icon-only" src="./assets/icon/favorites-outline.svg"></ion-icon>
            </ion-button>
            <ion-button *ngIf="parent.isFavorite === 1" (click)="executeSetFavoriteValueAction(parent, false);$event.stopPropagation();">
                    <ion-icon slot="icon-only" src="./assets/icon/favorites.svg"></ion-icon>
            </ion-button>
            <ion-button *ngIf="parent.isFavorite === 2" (click)="executeSetFavoriteValueAction(parent, false);$event.stopPropagation()">
                    <ion-icon slot="icon-only" name="md-download"></ion-icon>
            </ion-button>
            <ion-button (click)="showActions(parent);$event.stopPropagation();">
                    <ion-icon slot="icon-only" name="md-more"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="page_object_list" >
    <ion-refresher  slot="fixed"
     (ionRefresh)="loadContent($event)"
     [closeDuration]="400"
     [pullMin]="150">
            <ion-refresher-content color="medium"
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="dots"
                refreshingText="{{checkPageState({loadingLive: true}) ? footerToolbar.loadingText : sync.footerToolbarOfflineContent.loadingText}}">
            </ion-refresher-content>
    </ion-refresher>

    <!-- status : synchronization in progress, refresher not pulled -->
    <div *ngIf="checkPageState({refreshing: false}) && (checkPageState({favorites: false, loadingLive: true}) || checkPageState({favorites: true, loadingOffline: true}))">
        <ion-progress-bar type="indeterminate">
        </ion-progress-bar>
        <div class="ion-text-center">
            <ion-text color="medium">
                {{checkPageState({loadingLive: true}) ? footerToolbar.loadingText : sync.footerToolbarOfflineContent.loadingText}}
            </ion-text>
        </div>
       
    </div>
  <!-- status : display object-list, synchronization complete -->
    <ng-container >
            <ion-list *ngIf="checkPageState({favorites: false, online: true, loadingLive: false}) || checkPageState({favorites: true, loadingOffline: false})">
                    <div class="" *ngIf="parent !== undefined">
                        <ion-item  no-lines *ngIf="parent.hasPageLayout" text-wrap="" (click)="openInIlias()" color="list-element" class="list-element">
                            <ion-avatar item-start>
                                <img [src]="pageLayout.icon">
                            </ion-avatar>
                            <span>{{pageLayout.text | translate: []}}</span>
                        </ion-item>
            
                        <ion-item no-lines  *ngIf="parent.hasTimeline" text-wrap="" (click)="openInIlias(true)" color="list-element" class="bottom-line list-element">
                            <ion-icon [name]=timeline.icon item-start></ion-icon>
                            <span>{{timeline.text | translate: []}}</span>
                        </ion-item>
                    </div>
                        <ion-card   class="ion-margin-horizontal"  button="true" *ngFor="let object of content" (click)="onClick(object)">
                            <ion-row align-items-center>
                                <ion-col size="2">
                                    <img class="object-presenter-icon" [src]="object.presenter.icon()">
                                    <ion-badge *ngIf="object.isLinked()" color="nobg-w" class="badge-link">
                                        <img src="assets/icon/obj_link.svg" class="badge-logo">
                                    </ion-badge>
                                </ion-col>
                                <ion-col size="7">
                                    <ion-card-content >
                                        <span *ngIf="object.presenter.showTypeAsText()">{{ object.presenter.typeLangVar() | translate:[] }}:</span>
                                        {{ object.presenter.title() }} <span *ngIf="!object.presenter.title()">{{ 'no_title' | translate:[] }}</span>
                                    </ion-card-content>   
                                </ion-col>
                                <ion-col size="1" justify-content-end>
                                    <ion-buttons>
                                        <ion-button color="transparent"  *ngIf="!object.isFavorite" (click)="executeSetFavoriteValueAction(object, true);$event.stopPropagation();">
                                            <ion-icon button="true" slot="icon-only" src="./assets/icon/favorites-outline.svg" color="primary"></ion-icon>
                                        </ion-button>
                                        <ion-button color="transparent" *ngIf="object.isFavorite === 1" (click)="executeSetFavoriteValueAction(object, false);$event.stopPropagation();">
                                            <ion-icon slot="icon-only" src="./assets/icon/favorites.svg" color="primary"></ion-icon>
                                        </ion-button>
                                        <ion-button color="transparent"  *ngIf="object.isFavorite === 2" (click)="executeSetFavoriteValueAction(object, false);$event.stopPropagation()">
                                            <ion-icon slot="icon-only" name="md-download" color="primary"></ion-icon>
                                        </ion-button>
                                    </ion-buttons>   
                                </ion-col>
                                <ion-col size="1" justify-content-end>
                                    <ion-button color="transparent"  (click)="showActions(object);$event.stopPropagation();">
                                        <ion-icon slot="icon-only" name="md-more" color="primary"></ion-icon>
                                    </ion-button>
                                </ion-col>
                            </ion-row>  
                        </ion-card>
            
            
                        <!-- status : user in favorites, but nothing added -->
                    <ion-grid *ngIf="checkPageState({favorites: true, desktop: true}) && !content.length">
                        <ion-row justify-content-center align-items-center>
                            <ion-col col-12 text-center>
                                <img src="assets/icon/objectlist_favourites.svg" class="offline-image">
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-12>
                                <ion-label text-center color="lightish" text-wrap> {{ 'object-list.no_items' | translate:[] }}</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-list>
    </ng-container>
    
    <!-- status : user offline, not in favorites -->
    <ion-grid *ngIf="checkPageState({favorites: false, online: false})">
        <ion-row justify-content-center align-items-center>
            <ion-col col-12 text-center>
                <img src="assets/icon/objectlist_offline.svg" class="offline-image">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <ion-label text-center color="medium" text-wrap>{{ 'object-list.offline' | translate:[] }}</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!-- Sekeletion -->
        <ng-container *ngIf="(checkPageState({favorites: false, loadingLive: true}) || checkPageState({favorites: true, loadingOffline: true}))">
                        <ion-card>
                            <ion-row align-items-center>
                                <ion-col size="2">
                                        <ion-skeleton-text animated style="width: 50px; height: 50px"></ion-skeleton-text>
                                </ion-col>
                                <ion-col size="8">
                                    <ion-card-content >
                                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                    </ion-card-content>      
                                </ion-col>
                                <ion-col size="1" justify-content-end>
                                    <ion-skeleton-text animated style="width: 25px; height: 25px"></ion-skeleton-text>
                                </ion-col>
                                <ion-col size="1" justify-content-end>
                                        <ion-skeleton-text animated style="width: 5px; height: 25px"></ion-skeleton-text>
                                </ion-col>
                            </ion-row>  
                        </ion-card>
                        <ion-card>
                            <ion-row align-items-center>
                                <ion-col size="2">
                                        <ion-skeleton-text animated style="width: 50px; height: 50px"></ion-skeleton-text>
                                </ion-col>
                                <ion-col size="8">
                                    <ion-card-content >
                                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                    </ion-card-content>      
                                </ion-col>
                                <ion-col size="1" justify-content-end>
                                    <ion-skeleton-text animated style="width: 25px; height: 25px"></ion-skeleton-text>
                                </ion-col>
                                <ion-col size="1" justify-content-end>
                                        <ion-skeleton-text animated style="width: 5px; height: 25px"></ion-skeleton-text>
                                </ion-col>
                            </ion-row>  
                        </ion-card>
                        <ion-card>
                            <ion-row align-items-center>
                                <ion-col size="2">
                                        <ion-skeleton-text animated style="width: 50px; height: 50px"></ion-skeleton-text>
                                </ion-col>
                                <ion-col size="8">
                                    <ion-card-content >
                                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                    </ion-card-content>      
                                </ion-col>
                                <ion-col size="1" justify-content-end>
                                    <ion-skeleton-text animated style="width: 25px; height: 25px"></ion-skeleton-text>
                                </ion-col>
                                <ion-col size="1" justify-content-end>
                                        <ion-skeleton-text animated style="width: 5px; height: 25px"></ion-skeleton-text>
                                </ion-col>
                            </ion-row>  
                        </ion-card>
                        <ion-card>
                            <ion-row align-items-center>
                                <ion-col size="2">
                                        <ion-skeleton-text animated style="width: 50px; height: 50px"></ion-skeleton-text>
                                </ion-col>
                                <ion-col size="8">
                                    <ion-card-content >
                                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                    </ion-card-content>      
                                </ion-col>
                                <ion-col size="1" justify-content-end>
                                    <ion-skeleton-text animated style="width: 25px; height: 25px"></ion-skeleton-text>
                                </ion-col>
                                <ion-col size="1" justify-content-end>
                                        <ion-skeleton-text animated style="width: 5px; height: 25px"></ion-skeleton-text>
                                </ion-col>
                            </ion-row>  
                        </ion-card>
            
        </ng-container>
        
        <!-- <ion-list>
            <ion-card>
                <ion-row align-items-center>
                    <ion-col size="2">
                            <ion-skeleton-text animated style="width: 50px; height: 50px"></ion-skeleton-text>
                    </ion-col>
                    <ion-col size="8">
                        <ion-card-content >
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </ion-card-content>      
                    </ion-col>
                    <ion-col size="1" justify-content-end>
                        <ion-skeleton-text animated style="width: 25px; height: 25px"></ion-skeleton-text>
                    </ion-col>
                    <ion-col size="1" justify-content-end>
                            <ion-skeleton-text animated style="width: 5px; height: 25px"></ion-skeleton-text>
                    </ion-col>
                </ion-row>  
            </ion-card>
            <ion-card>
                <ion-row align-items-center>
                    <ion-col size="2">
                            <ion-skeleton-text animated style="width: 50px; height: 50px"></ion-skeleton-text>
                    </ion-col>
                    <ion-col size="8">
                        <ion-card-content >
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </ion-card-content>      
                    </ion-col>
                    <ion-col size="1" justify-content-end>
                        <ion-skeleton-text animated style="width: 25px; height: 25px"></ion-skeleton-text>
                    </ion-col>
                    <ion-col size="1" justify-content-end>
                            <ion-skeleton-text animated style="width: 5px; height: 25px"></ion-skeleton-text>
                    </ion-col>
                </ion-row>  
            </ion-card>
            <ion-card>
                <ion-row align-items-center>
                    <ion-col size="2">
                            <ion-skeleton-text animated style="width: 50px; height: 50px"></ion-skeleton-text>
                    </ion-col>
                    <ion-col size="8">
                        <ion-card-content >
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </ion-card-content>      
                    </ion-col>
                    <ion-col size="1" justify-content-end>
                        <ion-skeleton-text animated style="width: 25px; height: 25px"></ion-skeleton-text>
                    </ion-col>
                    <ion-col size="1" justify-content-end>
                            <ion-skeleton-text animated style="width: 5px; height: 25px"></ion-skeleton-text>
                    </ion-col>
                </ion-row>  
            </ion-card>
            <ion-card>
                <ion-row align-items-center>
                    <ion-col size="2">
                            <ion-skeleton-text animated style="width: 50px; height: 50px"></ion-skeleton-text>
                    </ion-col>
                    <ion-col size="8">
                        <ion-card-content >
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </ion-card-content>      
                    </ion-col>
                    <ion-col size="1" justify-content-end>
                        <ion-skeleton-text animated style="width: 25px; height: 25px"></ion-skeleton-text>
                    </ion-col>
                    <ion-col size="1" justify-content-end>
                            <ion-skeleton-text animated style="width: 5px; height: 25px"></ion-skeleton-text>
                    </ion-col>
                </ion-row>  
            </ion-card>

        </ion-list> -->
</ion-content>

<!-- <ion-footer >
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button>
        <ion-spinner [paused]="!footerToolbar.isLoading" *ngIf="footerToolbar.isLoading"></ion-spinner>
      </button>
    </ion-buttons>
    <div *ngIf="footerToolbar.isLoading">{{ footerToolbar.loadingText }}</div>
    <div *ngIf="!footerToolbar.isLoading">{{ 'sync.last_sync' | translate:[] }}: {{ sync.lastSyncString }}</div>
  </ion-toolbar>
</ion-footer> -->
