.page_object_list {
    --background: var(--custom-background, var(--ion-background-color));
    background: var(--custom-background-behind, var(--ion-background-color));
}

ion-refresher {
    z-index: 1;
}

.object-presenter-icon{
    height: 3rem;
}

.loading-text {
    padding: 0.5em 0 0.5em 0.5em;
}

.icon-container {
    margin: 0 auto;
}

.badge-link {
    position: absolute;
    top: 5%;
    left: 40%;
}

.offline-image {
    width: 20%;
    display: block;
    margin: 0 auto;
    filter: var(--page-object-list-image-filter, brightness(1));
}

.ion-text-lg-center {
    text-align: center;
}

.offline-message {
    color: var(--ion-text-color);
}

.asd {
    background-color: var(--ion-color-primary) !important;
    ion-icon {
        color: var(--ion-color-primary-contrast);
        margin-right: .5em;
    }
}

ion-card {
    margin: 1em;
    content-visibility: auto;
}

ion-icon {
    color: var(--page-object-list-icon-color, var(--ion-color-primary));
}

ion-list {
    background: transparent !important;
}
