# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
*.map
*.sourcemaps
*.keystore
*.jks
*_config.json
.vscode/
npm-debug.log*
server.config.json

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/
src/assets/*
resources


bin/android-*-unsigned.apk
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
www_back/
www/*
!www/.placeholder
bower_components
src/assets/config.json
branding/common/config/server.config.json
src/assets/testinstallation_config.json
build*.sh
iq_config.xml

bin
simulation
