map {

  #map {
    height: 100%;
    width: 100%;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important ;
    right: 0 !important;
    z-index: 0;        
  }
}
