map {

  #map {
    height: 101%;
    width: 100%;
    position: absolute !important;
    top: 0 !important;
    // bottom: 0 !important;
    left: 0 !important ;
    right: 0 !important;
    z-index: 0;
  }

  // ///fixes the tab change issue
  // .ion-tabs-fix {
	//    ion-tabs {
	// 	height: calc(100% + 56px) !important;
	//   }
  // }

}
