<ion-content class="ion-padding-vertical" color="nobg-w">

  <div *ngIf="(blockList | async)?.length == 0" class="ion-padding">
    <ion-card color=primary>
      <ion-card-content>
        <h1 class="ion-text-center">{{"learnplace.block.no_content" | translate}}</h1>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngFor="let block of (blockList | async)">

    <text-block *ngIf="block.isRichtext()" [value]="block"></text-block>
    <picture-block *ngIf="block.isPicture()" [value]="block"></picture-block>
    <video-block *ngIf="block.isVideo()" [value]="block"></video-block>
    <link-block *ngIf="block.isLink()" [value]="block"></link-block>
    <accordion-block *ngIf="block.isAccordion()" [value]="block"></accordion-block>

  </div>

</ion-content>
