.container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}

.icon {
    width: 100%;
    height: 100%;
}

.sub-icon {
    position: absolute;
    color: #5c7597 !important;
    top: 50%;
    left: 60%;
    width: 50%;
    height: 50%;
}