

ion-content {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    overflow: hidden;
    -webkit-overflow-scrolling: none !important;

    --size-big: 70vh;
    --size-small: 30vh;
}

.map {
    position: fixed;
    left: 0;
    right: 0;
    height: var(--size-small);
    z-index: 2;
    transform: 0.2s ease-out;
    box-shadow: 0px 9px 8px -1px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 9px 8px -1px rgba(0,0,0,0.15);
}

.content {
    position: relative;
    margin-top: calc(var(--size-small) + 1em);
    flex-grow: 2;
    z-index: 0;
}

.block {
    ion-card {
        margin: 1em 0.5em !important;
    }
}

.lp-item-icon {
    display: flex;
    margin: 0 auto;
    align-self: center;
    align-items: center;
    width: 100%;
    img {
        margin: 0.25em;
    }
}

.warning {
    padding: 1em;
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    text-align: center;
}

.size-up {
    transition: all 0.4s ease-in;
    height: var(--size-big) !important;
}

.size-down {
    transition: all 0.4s ease-out;
    height: var(--size-small) !important;
}

.margin-up {
    transition: all 0.4s ease-out;
    margin-top: calc(var(--size-small) + 1em) !important;

}

.margin-down {
    transition: all 0.4s ease-in;
    margin-top: calc(var(--size-big) + 1em) !important;
}

.slide-in {
	-webkit-animation: slide-in 0.2s ease-out both;
	        animation: slide-in 0.2s ease-out both;
}

.slide-out {
	-webkit-animation: slide-out 0.4s ease-in both;
	        animation: slide-out 0.4s ease-in both;
}

@keyframes slide-out {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
}

@keyframes slide-in {
    0% {
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

[hidden] { display: none !important;}
