.page_news {
    --background: var(--custom-background, var(--ion-background-color));
    background-color: var(--custom-background-behind, var(--ion-background-color));
}

ion-refresher {
    z-index: 1;
}

ion-card {
    margin: 1em;
}

ion-card-title {
    font-size: 1.2rem;
}

ion-card-header {
    padding-bottom: 0px !important;
}

.object-presenter-icon {
    height: 4rem;
}

ion-list {
    background: transparent;
}
