.page_settings {
    --background: var(--custom-background, var(--ion-background-color));
    --color: var(--page-setting-text-color, var(--ion-text-color)) !important;
}

.list > .item-block:first-child {
    border: none;

}

.item {
    --color: var(--page-setting-text-color, var(--ion-text-color)) !important;
}

.general {
    padding-top: .5em;
    background: transparent;
}

.item-toggle {
    color: #999;
}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom: 1px solid #dedede;
    box-shadow: none;
}

ion-label.activeUser {
    font-weight: bold;
}

.trash-button {
    --background: transparent;
    --background-activated: transparent;
}

.trash-icon {
    color: var(--ion-color-primary, black) !important;
    --color: var(--ion-color-primary, black) !important;
}

ion-toolbar {
    padding: 0 1em;
}
