<ion-tabs class="page_tabs footer">
  <ion-tab-bar slot="bottom"  >
    <ion-tab-button tab="home" (click)="navigateTo('home')">
      <ion-icon src="./assets/tabbar/home.svg"></ion-icon>
      <ion-label>{{"home.title" | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="content" (click)="navigateTo('content')">
      <ion-icon src="./assets/tabbar/content.svg"></ion-icon>
      <ion-label>{{"courses" | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="news" (click)="navigateTo('news')">
        <ion-icon src="./assets/tabbar/news.svg"></ion-icon>
        <ion-label>{{"news.title" | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="favorites" (click)="navigateTo('favorites')">
        <ion-icon src="./assets/tabbar/favorites.svg"></ion-icon>
        <ion-label>{{"favorites.title" | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="menu" (click)="navigateTo('menu')">
        <ion-icon name="menu"></ion-icon>
        <ion-label>{{"menu" | translate}}</ion-label>
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
