<ion-tabs>
  <ion-tab-bar slot="bottom" color="tertiary" translucent="true">
    <ion-tab-button tab="home">
      <ion-icon src="./assets/tabbar/home.svg"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="content">
      <ion-icon src="./assets/tabbar/content.svg"></ion-icon>
      <ion-label>Courses</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="news">
        <ion-icon src="./assets/tabbar/news.svg"></ion-icon>
        <ion-label>News</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="favorites">
        <ion-icon src="./assets/tabbar/favorites.svg"></ion-icon>
        <ion-label>favorites</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="menu">
        <ion-icon name="menu"></ion-icon>
        <ion-label>Menu</ion-label>
      </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>