<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{'settings.title' | translate:{value: null} }}</ion-title>
        <ion-buttons end>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding class="settings">
    <ion-segment [(ngModel)]="settingsMode">
        <ion-segment-button value="general">
            {{'general' | translate:[] }}
        </ion-segment-button>
        <ion-segment-button value="users">
            {{'settings.users' | translate:[] }}
        </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="settingsMode">
        <ion-list *ngSwitchCase="'general'" class="general">
            <div *ngIf="settings">
                <ion-item text-wrap>
                    <ion-label>{{'settings.language' | translate:[] }}</ion-label>
                    <ion-select [(ngModel)]="settings.language">
                        <ion-option value="en">English</ion-option>
                        <ion-option value="de">Deutsch</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item text-wrap>
                    <ion-label>
                        {{'settings.downloadSize' | translate:[] }}
                    </ion-label>
                    <ion-input type="number" maxlength="4"
                               [(ngModel)]="settings.downloadSize" text-right>
                    </ion-input>
                    <button item-righ>MB</button>
                </ion-item>
                <ion-item text-wrap>
                    <ion-label>
                        {{'settings.downloadWLAN' | translate:[] }}
                    </ion-label>
                    <ion-toggle [(ngModel)]="settings.downloadWlan"></ion-toggle>
                </ion-item>
                <ion-item text-wrap>
                    <ion-label>
                        {{'settings.quotaSize' | translate:[] }}
                    </ion-label>
                    <ion-input type="number" text-right
                               [(ngModel)]="settings.quotaSize"></ion-input>
                </ion-item>
                <ion-col>
                    <button ion-button full block (click)="saveSettings()">{{'Save' | translate:{value: null} }}
                    </button>
                </ion-col>
            </div>
            <ion-grid *ngIf="!settings">
                <ion-row>
                    <ion-col>
                        <ion-spinner class="centered"></ion-spinner>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>

        <ion-list *ngSwitchCase="'users'">
            <div padding-top *ngIf="settings">
            <ion-item-group *ngFor="let installation of installationsWithUsers">
                <ion-item-divider>{{installation.title}}</ion-item-divider>
                <ion-item *ngFor="let userDiskSpace of usersPerInstallation[installation.id]" button-right>
                    <ion-label [ngClass]="{'activeUser' : userDiskSpace.user.id == loggedInUser.id}">{{userDiskSpace.user.iliasLogin}} ({{userDiskSpace.diskSpace | fileSize}})</ion-label>
                    <button class="ilias-list-action-button" ion-button round color="light" item-right
                            (click)="deleteLocalUserDataPrompt(userDiskSpace.user)">
                        <ion-icon name="trash" color="primary"></ion-icon>
                    </button>
                </ion-item>
            </ion-item-group>
            <ion-item-group>
                <ion-item-divider color="light">{{ 'settings.summary' | translate:[] }}</ion-item-divider>
                <ion-item button-right>
                    <ion-label [color]="totalSize>settings.quotaSize*1000*1000?'danger':null">{{ 'settings.total' |
                        translate:[] }}:
                        {{ totalSize | fileSize }} / {{ settings.quotaSize*1000*1000 | fileSize }}
                    </ion-label>
                    <button class="ilias-list-action-button" ion-button round color="light" item-right (click)="deleteAllFilesPrompt()">
                        <ion-icon name="trash" color="primary"></ion-icon>
                    </button>
                </ion-item>
            </ion-item-group>
            </div>
            <ion-grid *ngIf="!settings">
                <ion-row>
                    <ion-col>
                        <ion-spinner class="centered"></ion-spinner>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>
    </div>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-spinner [paused]="!footerToolbar.isLoading" *ngIf="footerToolbar.isLoading"></ion-spinner>
        <div *ngIf="footerToolbar.isLoading">{{ footerToolbar.loadingText }}</div>
    </ion-toolbar>
</ion-footer>
