// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
        primary:    #4a668b,
        secondary:  #6EA03C,
        danger:     #FA8228,
        light:      #f4f4f4,
        lightish:   #a9a9a9,
        dark:       #222,
        favorite:   #69BB7B,
        nobg-w: (
          base: transparent,
          contrast: #ffffff,
          ),
        nobg-blue: (
          base: transparent,
          contrast: #12466F,
          ),
        light-blue: (
          base: #f4f4f4,
          contrast: #12466F,
          ),
        white:   #FFFFFF,

);

$refresher-text-font-size: 1em;

@keyframes bounce {
  from, 10%, 26%, 40%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  20%, 21% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  35% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  45% {
    transform: translate3d(0,-4px,0);
  }
  50%{
    animation-timing-function: cubic-bezier(0, 0, 0, 1.000);
    transform: translate3d(0,0,0);
  }
}

.bounce {
  animation-name: bounce;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  transform-origin: center bottom;
}

.green-gradient{
  background-image: linear-gradient(to top left, #538132, #74a029)

}

.orange-gradient{
  background-image: linear-gradient(to top left, #e66e1e, #ff8e2c)

}

.blue-gradient{
  background-image: linear-gradient(to top left, #4a668b, #003c66);
  color:white;

}
.blue-gradient-invert{
  background-image: linear-gradient(to top right, #4a668b, #003c66)

}

// .title-image {
//     // margin-top: 8px;
//     // height: 27px;
//     // padding-right: 1%;
//     float: right;
//     position: relative;
//     // padding-top: 1%;
//     // bottom: 0;
//
// }

.date-note {
font-size: 0.7em;
align-self: flex-start;
margin-top: 14px;

}

.info-text{
  font-size: 0.7em;
  white-space: pre-line;

}

.news-title{
  width:100%;
  white-space: pre-line;
}


.tabs-ios-primary .tabbar {

    border-radius: 20px 20px 0 0;
    box-shadow:  inset 0 0 10px #000000;
    border: none
}

.tabs-md-primary .tabbar {


    border-radius: 40px 40px 0 0;
    box-shadow:  inset 0 0 10px #000000;
    border: none
}






// ion-navbar{
//   background-image: linear-gradient(to top left, #4a668b, #003c66);
//
// }

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";
