<ion-menu side="right" persistent="true" [content]="content">

    <ion-header>
        <ion-toolbar color="nobg-w">
                <ion-title>{{ 'menu' | translate:[] }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content id="menu-container">
        <ion-list>
            <button *ngIf="!loggedIn" ion-item (click)="openPage(loginPage)" color="nobg-w">
              <ion-icon name="log-in"></ion-icon>
                {{ 'login.title' | translate:[]}}
            </button>
            <button *ngIf="loggedIn" ion-item (click)="openPage(objectListPage)" color="nobg-w">
              <ion-icon name="ios-book"></ion-icon>
                {{ 'object-list.title' | translate:[]}}
            </button>
            <button *ngIf="loggedIn" ion-item (click)="openPage(favoritesPage)" color="nobg-w">
              <ion-icon name="star"></ion-icon>
                {{ 'favorites.title' | translate:[]}}
            </button>
            <button *ngIf="loggedIn" ion-item (click)="openPage(newObjectsPage)" color="nobg-w">
              <ion-icon name="stopwatch"></ion-icon>
                {{ 'new-objects.title' | translate:[]}}
            </button>
            <button *ngIf="loggedIn" ion-item (click)="openPage(settingsPage)" color="nobg-w">
              <ion-icon name="flask"></ion-icon>
                {{ 'settings.title' | translate:[]}}
            </button>
            <button ion-item (click)="openPage(infoPage)" color="nobg-w">
              <ion-icon name="information-circle"></ion-icon>
                {{ 'info.title' | translate:[]}}
            </button>
            <button *ngIf="loggedIn" ion-item (click)="logout()" color="nobg-w">
              <ion-icon name="log-out"></ion-icon>
                {{ 'logout.title' | translate:[]}} {{ user.iliasLogin }}
            </button>
        </ion-list>

    </ion-content>
  <img src="assets/img/Molly_pony_white_mirror.svg" alt="" id="menu-pony">
</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
