accordion-block {

  // remove the margin of ion-card inside the accordion
  ion-card.accordion ion-card {
    margin-left: 0!important;
    margin-right: 0!important;
    width: 100%!important;
  }
}
