// CSS coloring for the theme
// --------------------------------------------------

:root {
    // whether the color-values are synchronized with the setting in the pegasus-helper-plugin
    // set to "true" or "false"
    --theme-from-plugin: "false";

    //
    //
    // Custom Tab Color
    --ion-background-color: #f7f7f7;
    --ion-background-color-custom: linear-gradient(to top, #004d9f, #9bc8e5);
    --ion-text-color: white !important;

    ion-card {
        border-radius: 0;
        border-color: var(--ion-color-primary-contrast);
        border-style: solid;
        border-width: 3px;
        --color: var(--ion-color-primary-contrast);
        --border-radius: 0;
    }


    --ion-color-primary: #004D9F;
    --ion-color-primary-rgb: 0, 77, 159;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #00448c;
    --ion-color-primary-tint: #1a5fa9;

    --ion-color-secondary: #004D9F;
    --ion-color-secondary-rgb: 0, 77, 159;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #00448c;
    --ion-color-secondary-tint: #1a5fa9;

    --ion-color-tertiary: transparent;
    --ion-color-tertiary-rgb: 255, 255, 255;
    --ion-color-tertiary-contrast: #4a668b;
    --ion-color-tertiary-contrast-rgb: 74, 102, 139;
    --ion-color-tertiary-shade: #d7d8da;
    --ion-color-tertiary-tint: #f5f6f9;

    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;

    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;

    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;

    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;

    --ion-color-medium: #ffffff;
    --ion-color-medium-rgb: 255, 255, 255;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #e0e0e0;
    --ion-color-medium-tint: #ffffff;

    --ion-color-light: #ffffff;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;

    --ion-color-transparent: transparent;
    --ion-color-transparent-rgb: 244, 244, 244;
    --ion-color-transparent-contrast: #ffffff;
    --ion-color-transparent-contrast-rgb: 0, 0, 0;
    --ion-color-transparent-shade: #d7d8da;
    --ion-color-transparent-tint: #f5f6f9;

    --ion-color-light-grey: #c4c4c4;
    --ion-color-light-grey-rgb: 196, 196, 196;
    --ion-color-light-grey-contrast: #000000;
    --ion-color-light-grey-contrast-rgb: 0, 0, 0;
    --ion-color-light-grey-shade: #acacac;
    --ion-color-light-grey-tint: #cacaca;


    --gradient-color-first: var(--ion-color-primary);
    --gradient-color-second: var(--ion-color-secondary);

    ion-toolbar {
        --ion-background-color: var(--ion-color-primary);
    }

    ion-tab-button {
        ion-icon, ion-label {
            --color: var(--ion-color-light-grey) !important;
            --ion-color-base: var(--ion-color-light-grey) !important;
            --color-selected: var(--ion-color-primary-contrast) !important;
        }
    }

    ion-alert {
        --ion-text-color: var(--ion-color-dark);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --ion-background-color: linear-gradient(to top, #001021, #004F9F);

        ion-tab-bar {
            --ion-color-primary: #001021;
        }

        /*--ion-color-primary: #00191D;
        --ion-color-primary-rgb: 0,25,29;
        --ion-color-primary-contrast: #ffffff;
        --ion-color-primary-contrast-rgb: 255,255,255;
        --ion-color-primary-shade: #00161a;
        --ion-color-primary-tint: #1a3034;

        --ion-color-secondary: #017C8E;
        --ion-color-secondary-rgb: 1,124,142;
        --ion-color-secondary-contrast: #ffffff;
        --ion-color-secondary-contrast-rgb: 255,255,255;
        --ion-color-secondary-shade: #016d7d;
        --ion-color-secondary-tint: #1a8999;

        --ion-color-tertiary: #5260ff;
        --ion-color-tertiary-rgb: 82,96,255;
        --ion-color-tertiary-contrast: #ffffff;
        --ion-color-tertiary-contrast-rgb: 255,255,255;
        --ion-color-tertiary-shade: #4854e0;
        --ion-color-tertiary-tint: #6370ff;

        --ion-color-success: #2dd36f;
        --ion-color-success-rgb: 45,211,111;
        --ion-color-success-contrast: #ffffff;
        --ion-color-success-contrast-rgb: 255,255,255;
        --ion-color-success-shade: #28ba62;
        --ion-color-success-tint: #42d77d;

        --ion-color-warning: #ffc409;
        --ion-color-warning-rgb: 255,196,9;
        --ion-color-warning-contrast: #000000;
        --ion-color-warning-contrast-rgb: 0,0,0;
        --ion-color-warning-shade: #e0ac08;
        --ion-color-warning-tint: #ffca22;

        --ion-color-danger: #eb445a;
        --ion-color-danger-rgb: 235,68,90;
        --ion-color-danger-contrast: #ffffff;
        --ion-color-danger-contrast-rgb: 255,255,255;
        --ion-color-danger-shade: #cf3c4f;
        --ion-color-danger-tint: #ed576b;

        --ion-color-dark: #222428;
        --ion-color-dark-rgb: 34,36,40;
        --ion-color-dark-contrast: #ffffff;
        --ion-color-dark-contrast-rgb: 255,255,255;
        --ion-color-dark-shade: #1e2023;
        --ion-color-dark-tint: #383a3e;

        --ion-color-medium: #92949c;
        --ion-color-medium-rgb: 146,148,156;
        --ion-color-medium-contrast: #ffffff;
        --ion-color-medium-contrast-rgb: 255,255,255;
        --ion-color-medium-shade: #808289;
        --ion-color-medium-tint: #9d9fa6;

        --ion-color-light: #f4f5f8;
        --ion-color-light-rgb: 244,245,248;
        --ion-color-light-contrast: #000000;
        --ion-color-light-contrast-rgb: 0,0,0;
        --ion-color-light-shade: #d7d8da;
        --ion-color-light-tint: #f5f6f9;*/
    }
}

// gradients
.primary-gradient {
    background-image: linear-gradient(to top left, var(--gradient-color-first), var(--gradient-color-second));
    color: var(--ion-color-primary-contrast) !important;
}

.primary-gradient-inverted {
    background-image: linear-gradient(to top left, var(--gradient-color-second), var(--gradient-color-first));
    color: var(--ion-color-primary-contrast);
}

.page-gradient {
    background-image: linear-gradient(to top, var(--gradient-color-second), var(--gradient-color-first));
}

// MARK: Define Color Variables
.ion-color-transparent {
    --ion-color-base: var(--ion-color-transparent);
    --ion-color-base-rgb: var(--ion-color-transparent-rgb);
    --ion-color-contrast: var(--ion-color-transparent-contrast);
    --ion-color-contrast-rgb: var(--ion-color-transparent-contrast-rgb);
    --ion-color-shade: var(--ion-color-transparent-shade);
    --ion-color-tint: var(--ion-color-transparent-tint);
}

.ion-color-light-grey {
    --ion-color-base: var(--ion-color-light-grey);
    --ion-color-base-rgb: var(--ion-color-light-grey-rgb);
    --ion-color-contrast: var(--ion-color-light-grey-contrast);
    --ion-color-contrast-rgb: var(--ion-color-light-grey-contrast-rgb);
    --ion-color-shade: var(--ion-color-light-grey-shade);
    --ion-color-tint: var(--ion-color-light-grey-tint);
}

:test {
    --ion-color-primary: #004D9F;
    --ion-color-primary-rgb: 0, 77, 159;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #00448c;
    --ion-color-primary-tint: #1a5fa9;

    --ion-color-secondary: #004D9F;
    --ion-color-secondary-rgb: 0, 77, 159;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #00448c;
    --ion-color-secondary-tint: #1a5fa9;

    --ion-color-tertiary: transparent;
    --ion-color-tertiary-rgb: 255, 255, 255;
    --ion-color-tertiary-contrast: #4a668b;
    --ion-color-tertiary-contrast-rgb: 74, 102, 139;
    --ion-color-tertiary-shade: #d7d8da;
    --ion-color-tertiary-tint: #f5f6f9;

    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;

    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;

    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;

    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;

    --ion-color-medium: #ffffff;
    --ion-color-medium-rgb: 255, 255, 255;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #e0e0e0;
    --ion-color-medium-tint: #ffffff;

    --ion-color-light: #ffffff;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;

    --ion-color-transparent: transparent;
    --ion-color-transparent-rgb: 244, 244, 244;
    --ion-color-transparent-contrast: #ffffff;
    --ion-color-transparent-contrast-rgb: 0, 0, 0;
    --ion-color-transparent-shade: #d7d8da;
    --ion-color-transparent-tint: #f5f6f9;

    --ion-color-light-grey: #c4c4c4;
    --ion-color-light-grey-rgb: 196, 196, 196;
    --ion-color-light-grey-contrast: #000000;
    --ion-color-light-grey-contrast-rgb: 0, 0, 0;
    --ion-color-light-grey-shade: #acacac;
    --ion-color-light-grey-tint: #cacaca;
}
