// CSS for pages
// --------------------------------------------------
//
// NOTE: @import "coloring"; is called before this file is imported
// If possible, create only one class per page, using the following convention:
//
//
// // [PATH_TO_PAGE]
// // --------------------------------------------------
// .page_[UNIQUE_PAGENAME] { ... }
//
//
// If multiple classes are needed, use the following convention:
//
//
// // [PATH_TO_PAGE]
// // --------------------------------------------------
// .page_[UNIQUE_PAGENAME]_[NAME1] { ... }
// .page_[UNIQUE_PAGENAME]_[NAME2] { ... }
// ...
//

// pages/favorites
// --------------------------------------------------
.page_favorites {
    @extend .primary-gradient;
}

// pages/object-details
// --------------------------------------------------
.page_object_details {
    @extend .primary-gradient;
}


// pages/desktop
// --------------------------------------------------



.page_desktop {

    // .page_desktop{
        // background-image: linear-gradient(to top left, $gradient-col1, $gradient-col1);
        // background-image: url('../assets/vanilla/img/header.svg');
        // background-color: map_get($colors, primary);
        // background-position: top left;
        background-size: 100vw ;
        background-repeat: no-repeat;
        @extend .primary-gradient;
        // background-color: map_get($colors, primary);


    ion-grid {
        // margin-top: 10vh;
        width: 100%;
      }


    ion-card-header {
        font-weight: 800 !important;
    }

      ion-icon {
        font-size: 6em; //Preferred size here
    }

    .tile-image{
        height: auto;
        width: 100%;
        // position: absolute;
        // left: -20%;

        margin: auto;
        display: block;
        pointer-events: none;
    }

    .tile{
    // opacity: 0.9;
    // backdrop-filter: blur(5px);
    background-color: #92b6d7 !important;
    border: 6px solid white;
    // backdrop-filter: grayscale(50%) brightness(120%);

    // backdrop-filter: saturate(60%) brightness(120%);
    // backdrop-filter: brightness(120%);
    // backdrop-filter: invert(1%);
    // backdrop-filter: drop-shadow(100px 100px 10px red);
    // backdrop-filter: brightness(110%);
    // backdrop-filter: hue-rotate(120deg);
    // box-shadow: none;
    // border-radius: 25%;
    // border-radius: 5%;
    // width: 100%;
    // box-shadow: none !important;
    // border-right: 1px solid white;
    // border-bottom: 1px solid white;
    // margin-left: 0 !important;
    // margin-right: 0 !important;
    }


    .tile-fav{
        // background-image: linear-gradient(to top left, #ff8e2c, #e66e1e);
        border-bottom: 1px solid white;

    }

    .tile-title{
        border-top: 6px solid white;
        // backdrop-filter: saturate(60%) brightness(120%);
        color: map_get($colors, primary);
        background-color: #b8cee4 !important;
    }


}

// pages/menu
// --------------------------------------------------


.page_menu {
    @extend  .primary-gradient-inverted;

    // background-image: linear-gradient(to top left, $gradient-col1, $gradient-col1);
    // background-image: url('../assets/vanilla/img/header.svg');
    // background-color: map_get($colors, primary);
    // background-position: top left;
    background-size: 100vw ;
    background-repeat: no-repeat;
    // background-color: map_get($colors, primary);

    ion-list{
        padding-top: 0;
        padding-bottom: 0;
    }

    .privacy-iq{
        display: none
    }
    .privacy-pegasus{
        display: none
    }
}


// pages/settings
// --------------------------------------------------
ion-content.page_settings {
    @extend .primary-gradient-inverted;

    .list > .item-block:first-child {
        border: none;
    }

    .general {
        padding-top: 5px;
    }

    .item-toggle {
        color: #999;
    }

    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom: 1px solid #dedede;
        box-shadow: none;
    }

    ion-label.activeUser {
        font-weight: bold;
    }

}

// pages/info
// --------------------------------------------------
.page_info {
    @extend .primary-gradient-inverted;

    ion-card {
        margin: 20px 0;
        width: 100%;
    }

    .version-card{
        display:none;
    }

    .reporting-card{
        display:none;
    }



}

// pages/login
// --------------------------------------------------
.page_login {
    @extend .primary-gradient;
    line-height: 1.8em;
    text-align: center;
    text-align: center;
    display: flex!important;
    align-content: center!important;
    align-items: center!important;

    #version-if-footer {
        font-size: 1em;
        opacity: 0.2;
    }

    .huge-login-header {
        padding-top: 5%;
        padding-bottom: 5%;
        font-weight: 800;
        font-size: 2.2em;
        color: white;
        display: none;
    }

    .login-top-logo-row{
        height: 20vh;
    }

    .login-welcome-row{
        height: 10vh;
    }

    .login-version-row{
        height: 30vh;
    }

    .login-bottom-image{
        display: none;
    }

    .styled-bottom-row{
        // background-image: url('../assets/vanilla/img/header.svg');
        background-size: 100vw ;
        background-repeat: no-repeat;
        height: 30vh;
    }
    .login-top-image{
        // display: none;

    }

    // a, img {
    //     align-self: flex-end;
    //     position: absolute;
    //     bottom: 3%;
    // }

    // .vertical-align-content > * {
    //     display: flex!important;
    //     align-content: center!important;
    //     align-items: center!important;
    // }

    // .vertical-align-content a, .vertical-align-content img {
    //     align-self: flex-end;
    //     position: absolute;
    //     vertical-align: center;
    // }

}

// pages/news
// --------------------------------------------------


.page_news{
    @extend .primary-gradient;

}

// pages/object-list
// --------------------------------------------------
.page_object_list {
    background-image: linear-gradient(to top left, $gradient-col1, $gradient-col2);

    .invisiblePlaceholder {
        visibility: hidden;
    }

    .invisibleBackGround {
        background-color: transparent;
    }

    .footer {
        .button-inner {
            display: block;
        }
    }

    .badge-container {
        position: relative;
    }

    .badge-link {
        position: absolute;
        left: 6%;
        bottom: 55%;
    }

    .badge-logo{
        height:25px;
    }

    .list-header-item{
        font-weight: 900;
    }

    .list-element{
        background: #999;
    }

}

// learnplace_map
// --------------------------------------------------
.page_learnplace_map {
    @extend .primary-gradient;

    ion-app._gmaps_cdv_ .nav-decor {
        background-color: transparent !important;
    }

    map {
        #map {
            height: 101%;
            width: 100%;
            position: absolute !important;
            top: 0 !important;
            left: 0 !important;
            right: 0 !important;
            z-index: 0;
        }
    }

}

// learnplace_content
// --------------------------------------------------
.page_learnplace_content {

    ion-content {
        h1 {
            text-align: left;
        }

        h2 {
            text-align: left;
            padding-top: .67em;
        }

        p {
            font-size: 1.8em;
            padding-top: .25em;
            text-align: left;
        }
    }

}

// learnplace_accordion
// --------------------------------------------------
.page_learnplace_accordion {

    accordion-block {
        // remove the margin of ion-card inside the accordion
        ion-card.accordion ion-card {
            margin-left: 0 !important;
            margin-right: 0 !important;
            width: 100% !important;
        }
    }

}

// pages/onboarding
// --------------------------------------------------
.page_onboarding {
    @extend .primary-gradient;

    img { //TODO check, had to tune
        &.logo {
            height: 10vh;
            padding-left: 5%;
            //padding-right: 4%;
        }
        &.icon {
            width:20%;
        }
        &.decentral{
            width: 60%;
            padding-top: 10px;
        }
        &.lock{
            width:40%;
        }
    }

    .huge-header {
        padding-top: 5%;
        padding-bottom: 5%;
        font-weight: 800;
        font-size: 1.8em;
        color: white;
    }

    .central-text {
        padding-left: 15%;
        padding-right: 15%;
        font-weight: 600;
        color: white;
        font-size: 1vmax;
    }

    .flagtoflag {
        width: 80%;
        margin: auto;
    }

    .grid-text {
        font-weight: 600;
        font-size: 1vmax;
        padding-left: 3%;
        // padding-bottom: 6%;
        text-align: left;
        padding-right: 5%;
    }

    .notification-badge {
        text-align: center;
        position: absolute;
        bottom: 27%;
        left: 12%;
    }

    .directions {
        width: 20%;
        height: 10%;
    }

    ion-item {
        margin-bottom: 5px;
        font-size: 1.2em;
        background-color: map-get($colors, primary);
    }

    .onboarding-grid{
        height: 125px;
    }

}


// app/fallback/open-browser/leave-app.dialog.scss
// --------------------------------------------------
.page_leave_app_dialog {
    @extend .primary-gradient;

    #webr-icon {
        height: auto !important;
        width: 20vh !important;
        margin: auto !important;
        display: block !important;
    }

    h1 {
        color: white;
    }

    a {
        color: white;
    }

    // .fallback-icon{
    //     height: 20vw;
    // }

}

// app/fallback/location/location-fallbackscreen.scss
// --------------------------------------------------
.page_location_fallbackscreen {
    @extend .primary-gradient;

    #marker-icon {
        padding-top: 25%;
        height: auto !important;
        width: 20vh !important;
        margin: auto !important;
        display: block !important;

    }

    #middle-button {
        top: 10%;
        // height: auto !important;
        // width: 20vh !important;
        margin: auto !important;
        display: block !important;

    }

}

// app/fallback/loading/loading.scss
// --------------------------------------------------
.page_loading {
    @extend .primary-gradient;

    #marker-icon {
        padding-top: 25%;
        height: auto !important;
        width: 20vh !important;
        margin: auto !important;
        display: block !important;

    }

    #middle-button {
        top: 10%;
        margin: auto !important;
        display: block !important;
    }

    .big-spinner {
        stroke: #FFFFFF;
        fill: #FFFFFF;
    }

    .loading-subtitle {
        color: white;
    }

}

// app/fallback/synchronization/synchronization.scss
// --------------------------------------------------
.page_synchronization {
    @extend .primary-gradient;
    line-height: 1.8em;
    text-align: center;

    #sync-logo {
        margin-left: 20%;
        margin-right: 20%;
        max-height: 40%;
    }

    #version-if-footer {
        font-size: 1em;
        opacity: 0.2;
    }

}



