<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>{{ object.title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="page_object_details ion-padding">
    <div class="ion-padding" *ngIf="object.repoPath">
        <span *ngFor="let node of object.repoPath; let last = last">
            <span>{{node}}</span>
            <span *ngIf="! last"> » </span>
        </span>
    </div>
    <ion-button *ngFor="let action of actions" class="ion-text-wrap" expand="block" (click)="executeAction(action)">{{ action.title }}</ion-button>
    <ion-list>
        <ion-item class="ion-text-wrap" *ngFor="let detail of details">
            <ion-label>{{ detail.label | translate }}</ion-label>
            <ion-note slot="end"> {{ detail.value | translate }} </ion-note>
        </ion-item>
    </ion-list>
</ion-content>
