#map {
    width: 100%;
    height: 100%;
    background-color: #E6E4E0; // background color of mapbox
}

.marker-wrapper {
    max-width: 2em;
    max-height: 2em;
}

.marker {
    background-image: url('../../../assets/icon/map_marker_001.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 2.5em;
    height: 2.5em;
    transition: 0.2s ease-in;
}


.marker.selected {
    transition: 0.4s ease-out;
    width: 3.5em !important;
    height: 3.5em !important;
}

.fullscreen-button {
    width: 3.5em;
    height: 3.5em;
}
