<ion-header id="header-object-list">
    <ion-navbar color="header-element">

        <ion-title>
            {{ pageTitle }}
        </ion-title>

        <ion-buttons *ngIf="!checkPageState({favorites: false, online: false})" end>
            <div style="display:inline" *ngIf="parent !== undefined">
                <button ion-button icon-only clear *ngIf="!parent.isFavorite" (click)="executeSetFavoriteValueAction(parent, true);$event.stopPropagation();">
                    <ion-icon name="star-outline" color="light"></ion-icon>
                </button>
                <button ion-button icon-only clear *ngIf="parent.isFavorite === 1" (click)="executeSetFavoriteValueAction(parent, false);$event.stopPropagation();">
                    <ion-icon name="star" color="light"></ion-icon>
                </button>
                <button ion-button icon-only clear *ngIf="parent.isFavorite === 2" (click)="executeSetFavoriteValueAction(parent, false);$event.stopPropagation()">
                    <ion-icon name="md-download" color="light"></ion-icon>
                </button>
                <button ion-button icon-only clear (click)="showActions(parent);$event.stopPropagation();">
                    <ion-icon name="md-more" color="light"></ion-icon>
                </button>
            </div>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content  class="page_object_list" >
    <ion-refresher (ionRefresh)="loadContent()"
                   [closeDuration]="400"
                   [pullMin]="150">
        <ion-refresher-content id="refresher-content"
                               pullingIcon="arrow-down"
                               pullingText="{{ 'sync.pull_to_sync' | translate:[] }}"
                               refreshingText="{{checkPageState({loadingLive: true}) ? footerToolbar.loadingText : sync.footerToolbarOfflineContent.loadingText}}"
                               text-center>
        </ion-refresher-content>
    </ion-refresher>

    <!-- status : synchronization in progress, refresher not pulled -->
    <ion-grid *ngIf="checkPageState({refreshing: false}) && (checkPageState({favorites: false, loadingLive: true}) || checkPageState({favorites: true, loadingOffline: true}))">
        <ion-row>
            <ion-col>
                <ion-spinner class="centered"></ion-spinner>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label text-center>{{checkPageState({loadingLive: true}) ? footerToolbar.loadingText : sync.footerToolbarOfflineContent.loadingText}}</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>


  <!-- status : display object-list, synchronization complete -->
  <ion-list  class="ilias-object-list" *ngIf="checkPageState({favorites: false, online: true, loadingLive: false}) || checkPageState({favorites: true, loadingOffline: false})">
    <div class="" *ngIf="parent !== undefined">
      <ion-item  no-lines *ngIf="parent.hasPageLayout" text-wrap="" (click)="openPageLayout()" color="list-element" class="list-element">
        <ion-avatar item-start>
            <img [src]="pageLayout.icon"><!-- TODO make relative? -->
        </ion-avatar>
        <span>{{pageLayout.text | translate: []}}</span>
      </ion-item>

      <ion-item no-lines  *ngIf="parent.hasTimeline" text-wrap="" (click)="openTimeline()" color="list-element" class="bottom-line list-element">
        <ion-icon [name]=timeline.icon item-start></ion-icon>
        <span>{{timeline.text | translate: []}}</span>
      </ion-item>
    </div>
    <ion-item-group>
    <!-- <ion-list-header no-lines color="light-blue" class="list-header-item"> -->
    <!-- <ion-item-divider color="light"> -->
      <!-- {{"object-list.content" | translate: []}} -->
    <!-- </ion-item-divider> -->
    <!-- </ion-list-header> -->

            <button ion-item detail-none text-wrap class="object-list-item bottom-line list-element" *ngFor="let object of objects" (click)="onClick(object)" color="list-element">

                <ion-avatar item-start>
                    <img [src]="object.presenter.icon()">
                    <ion-badge *ngIf="object.isLinked()" color="nobg-w" class="badge-link">
                        <img src="assets/icon/obj_link.svg" class="badge-logo">
                    </ion-badge>
                    
                   
                </ion-avatar>

                <span *ngIf="object.presenter.showTypeAsText()">{{ object.presenter.typeLangVar() | translate:[] }}:</span>
                {{ object.presenter.title() }} <span *ngIf="!object.presenter.title()">{{ 'no_title' | translate:[] }}</span>
                <!--<p class="object-flags">
                    <ion-badge color="light" *ngIf="object.isFavorite">
                        <ion-icon color="primary" name="ai-favorites"></ion-icon>
                    </ion-badge>
                    <ion-badge color="light" *ngIf="object.isFavorite === 2">
                        <ion-icon color="primary" name="download"></ion-icon>
                    </ion-badge>
                </p>-->
                <button ion-button icon-only item-end clear *ngIf="!object.isFavorite" (click)="executeSetFavoriteValueAction(object, true);$event.stopPropagation();">
                    <ion-icon name="star-outline" color="primary"></ion-icon>
                </button>
                <button ion-button icon-only item-end clear *ngIf="object.isFavorite === 1" (click)="executeSetFavoriteValueAction(object, false);$event.stopPropagation();">
                    <ion-icon name="star" color="primary"></ion-icon>
                </button>
                <button ion-button icon-only item-end clear *ngIf="object.isFavorite === 2" (click)="executeSetFavoriteValueAction(object, false);$event.stopPropagation()">
                    <ion-icon name="md-download" color="primary"></ion-icon>
                </button>
                <button ion-button icon-only item-end clear (click)="showActions(object);$event.stopPropagation();">
                    <ion-icon name="md-more" color="primary"></ion-icon>
                </button>
                <!--<button class="ilias-list-action-button" ion-button round color="light" item-right (click)="showActions(object)">
                    <ion-icon name="more" color="primary"></ion-icon>
                </button>-->
            </button>

        </ion-item-group>
            <!-- status : user in favorites, but nothing added -->
        <ion-grid *ngIf="checkPageState({favorites: true, desktop: true}) && !objects.length">
            <ion-row justify-content-center align-items-center>
                <ion-col col-12 text-center>
                    <img src="assets/icon/objectlist_favourites.svg" class="offline-image">
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-label text-center color="lightish" text-wrap> {{ 'object-list.no_items' | translate:[] }}</ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>
    <!-- status : user offline, not in favorites -->
    <ion-grid *ngIf="checkPageState({favorites: false, online: false})">
        <ion-row justify-content-center align-items-center>
            <ion-col col-12 text-center>
                <img src="assets/icon/objectlist_offline.svg" class="offline-image">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <ion-label text-center color="lightish" text-wrap>{{ 'object-list.offline' | translate:[] }}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row> 
            <ion-col col-12>
                <button ion-button outline round block (click)="switchToFavoritesTab()">{{ 'favorites.title' | translate:[] }}</button>
            </ion-col>
        </ion-row>
    </ion-grid>


    

</ion-content>

<!-- <ion-footer >
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button>
        <ion-spinner [paused]="!footerToolbar.isLoading" *ngIf="footerToolbar.isLoading"></ion-spinner>
      </button>
    </ion-buttons>
    <div *ngIf="footerToolbar.isLoading">{{ footerToolbar.loadingText }}</div>
    <div *ngIf="!footerToolbar.isLoading">{{ 'sync.last_sync' | translate:[] }}: {{ sync.lastSyncString }}</div>
  </ion-toolbar>
</ion-footer> -->
