<ion-header >
    <ion-navbar color="header-element">
        <ion-title>
          {{ pageTitle }}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content  class="page_object_list" >
  <ion-refresher
          (ionRefresh)="startSync($event)"
            [closeDuration]="400"
            [pullMin]="150"
            >
    <ion-refresher-content id="refresher-content"
        pullingIcon="arrow-down"
        pullingText="{{ 'sync.pull_to_sync' | translate:[] }}"
        refreshingText="{{ footerToolbar.loadingText }}"
        text-center>
     </ion-refresher-content>
  </ion-refresher>



  <ion-list  class="ilias-object-list">
    <div class="" *ngIf="parent != undefined">
      <ion-item  no-lines *ngIf="parent.hasPageLayout" text-wrap="" (click)="openPageLayout()">
        <ion-avatar item-start>
            <img [src]="pageLayout.icon"><!-- TODO make relative? -->
        </ion-avatar>
        <span>{{pageLayout.text | translate: []}}</span>
      </ion-item>

      <ion-item no-lines  *ngIf="parent.hasTimeline" text-wrap="" (click)="openTimeline()">
        <ion-icon [name]=timeline.icon item-start></ion-icon>
        <span>{{timeline.text | translate: []}}</span>
      </ion-item>
    </div>
    <ion-item-group>
    <!-- <ion-list-header no-lines color="light-blue" class="list-header-item"> -->
    <!-- <ion-item-divider color="light"> -->
      <!-- {{"object-list.content" | translate: []}} -->
    <!-- </ion-item-divider> -->
    <!-- </ion-list-header> -->

    <ion-item text-wrap class="bottom-line list-element" *ngFor="let object of objects" (click)="onClick(object)" color="list-element">

      <ion-avatar item-start>
          <img [src]="object.presenter.icon()"><!-- TODO make relative? -->
          <ion-badge *ngIf="object.isLinked()" color="nobg-w" class="badge-link">
            <img [src]="theme.getAsset('icon/obj_link.svg')" class="badge-logo">
          </ion-badge>
      </ion-avatar>

      <span *ngIf="object.presenter.showTypeAsText()">{{ object.presenter.typeLangVar() | translate:[] }}:</span>
      {{ object.presenter.title() }} <span *ngIf="!object.presenter.title()">{{ 'no_title' | translate:[] }}</span>
      <p class="object-flags">
        <ion-badge color="light" *ngIf="object.isFavorite">
          <ion-icon color="primary" name="ai-favorites"></ion-icon>
        </ion-badge>
        <ion-badge color="light" *ngIf="object.isOfflineAvailable && (object.isContainer() || object.isFile() || object.isLearnplace())">
          <ion-icon name="cloud-download" [color]="!object.needsDownload? 'primary' : 'lightish'"></ion-icon>
        </ion-badge>

        <ion-badge *ngIf="object.isNew" color="light">
          <ion-icon color="primary">
            {{'new' | translate:[] }}
          </ion-icon>
        </ion-badge>
        <ion-badge *ngIf="object.isUpdated" color="light">
          <ion-icon color="primary">
            {{'updated' | translate:[] }}
          </ion-icon>
        </ion-badge>
        <ion-badge *ngIf="object.newSubItems" color="light">
          <ion-icon color="primary">
            {{ object.newSubItems }}
          </ion-icon>
        </ion-badge>
      </p>
      <button class="ilias-list-action-button" ion-button round color="light" item-right (click)="showActions(object)">
        <ion-icon name="more" color="primary"></ion-icon>
      </button>
    </ion-item>

    <ion-item text-wrap="" *ngIf="objects != null && objects.length == 0 && footerToolbar.isLoading == false">
      {{ 'no_items' | translate:[] }}
    </ion-item>
  </ion-item-group>
  </ion-list>

  <ion-grid *ngIf="objects != null && objects.length == 0 && footerToolbar.isLoading == true">
    <ion-row>
      <ion-col>
        <ion-spinner class="centered"></ion-spinner>
        <span text-center>{{ footerToolbar.loadingText }}</span>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<!-- <ion-footer >
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button>
        <ion-spinner [paused]="!footerToolbar.isLoading" *ngIf="footerToolbar.isLoading"></ion-spinner>
      </button>
    </ion-buttons>
    <div *ngIf="footerToolbar.isLoading">{{ footerToolbar.loadingText }}</div>
    <div *ngIf="!footerToolbar.isLoading">{{ 'sync.last_sync' | translate:[] }}: {{ sync.lastSyncString }}</div>
  </ion-toolbar>
</ion-footer> -->
