.object-list {
  .invisiblePlaceholder {
    visibility: hidden;
  }

  .invisibleBackGround {
    background-color: transparent;
  }

  .scroll-content {
    // padding: 3px 0 16px 0;
    padding: 0 !important;
  }

  .footer {
    .button-inner {
      display: block;
    }
  }

  .badge-container {
    position: relative;
  }

  .badge-link {
    position: absolute;
    left: 6%;
    bottom: 55%;
    // font-size: .5rem;
    // padding: 2px;
  }
  .badge-img{
    height:25px;

  }

  .list-header-item{
    font-weight: 900;

  }

}
