// Global CSS
// --------------------------------------------------
// Put CSS rules here that you want to apply globally
//
// NOTE: @import "coloring"; is called before this file is imported

@import "../fonts/Raleway/Raleway.scss";

ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
    }
  }

.content, .ion-header, ion-toolbar {
    font-family: 'Raleway', sans-serif !important;
}
