<ion-header>
  <ion-navbar color="nobg-w" class=blue-gradient>
    <ion-title>
      <ion-icon name="pin"></ion-icon>
      {{title}}
    </ion-title>
    <ion-buttons end>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding-vertical color="nobg-w">

  <div *ngFor="let block of blockList">

    <text-block *ngIf="block.isRichtext()" [value]="block"></text-block>
    <picture-block *ngIf="block.isPicture()" [value]="block"></picture-block>
    <video-block *ngIf="block.isVideo()" [value]="block"></video-block>
    <link-block *ngIf="block.isLink()" [value]="block"></link-block>

  </div>

</ion-content>
