<ion-header>
  <ion-navbar color="nobg-w" class="blue-gradient">

  </ion-navbar>
</ion-header>

<ion-content padding-vertical color="nobg-w">

  <div *ngIf="blockList.length == 0">{{"learnplace.block.no_content" | translate}}</div>

  <div *ngFor="let block of blockList">

    <text-block *ngIf="(block | async)?.isRichtext()" [value]="block"></text-block>
    <picture-block *ngIf="(block | async)?.isPicture()" [value]="block"></picture-block>
    <video-block *ngIf="(block | async)?.isVideo()" [value]="block"></video-block>
    <link-block *ngIf="(block | async)?.isLink()" [value]="block"></link-block>
    <accordion-block *ngIf="(block | async)?.isAccordion()" [value]="block"></accordion-block>

  </div>

</ion-content>
