<ion-content padding-vertical color="nobg-w">

  <div *ngFor="let block of blockList">

    <text-block *ngIf="(block | async)?.isRichtext()" [value]="block"></text-block>
    <picture-block *ngIf="(block | async)?.isPicture()" [value]="block"></picture-block>
    <video-block *ngIf="(block | async)?.isVideo()" [value]="block"></video-block>
    <link-block *ngIf="(block | async)?.isLink()" [value]="block"></link-block>
    <accordion-block *ngIf="(block | async)?.isAccordion()" [value]="block"></accordion-block>

  </div>

</ion-content>
