// CSS coloring for the theme
// --------------------------------------------------

// colors

$colors: (
    primary:    #f9b000,
    secondary:  #6EA03C,
    danger:     #FA8228,
    light:      #f4f4f4,
    lightish:   #a9a9a9,
    dark:       #222,
    favorite:   #69BB7B,
    nobg-w: (
        base: transparent,
        contrast: #ffffff,
    ),
    nobg-blue: (
        base: transparent,
        contrast: #12466F,
    ),
    light-blue: (
        base: #ffffff,
        contrast: #12466F,
    ),
    white:   #FFFFFF,
    header-element:(
        base:  #f9b000,
        contrast: #ffffff,
    ),
    // list-element:(
    //     base: transparent,
    //     contrast: #ffffff,
    // ),
    // button-element: #ffffff,
);

// gradients

$gradient-col1: map_get($colors, primary);
$gradient-col2: #003c66;

.primary-gradient {
    background-image: linear-gradient(to top left, $gradient-col1, $gradient-col1);
    color:white !important;
    // filter: blur(5px);
    // opacity: 0.5;
}

.primary-gradient-inverted {
    background-image: linear-gradient(to top left, $gradient-col1, $gradient-col1);
    color:white;
}

// misc

.white-text {
    color: white;
}
