page-menu {

    .styled-content{
        // background-image: linear-gradient(to top left, $gradient-col1, $gradient-col1);
        background-image: url('../assets/vanilla/img/header.svg');
        // background-color: map_get($colors, primary);
        // background-position: top left;
        background-size: 100vw ;
        background-repeat: no-repeat;
        background-color: map_get($colors, primary);
    }

}
